body {
    margin: 0 auto;
    text-align: center;
}

#heading-input {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #6943FF;
    padding: 100px;
}

#input-field{
    text-align: center;
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 30px;
    background: #6943FF;
}

#input-btn{
    width: 100px;
    height: 50px;
}