body {
    margin: 0 auto;
    text-align: center;
}

#heading-input {
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #6943FF;
    padding: 100px;
}

#input-field{
    text-align: center;
    width: 117px;
    height: 83px;
    margin-bottom: 10px;
    font-size: 58px;
    font-weight: bold;
    background: #6943FF;
    color: #FFFFFF;
    border: #B295FF solid 2px;
    border-radius: 5px;

}

#input-btn{
    width: 117px;
    height: 42px;

}